<h2><%= @list.name %></h2>
<br>
<% @list.movies.each do |movie| %>
  <img src= '<%= movie.poster_url %>' alt= "<%= movie.title %>" >
  <p><%= movie.title %></p>
  <p><%= movie.rating %></p>
  <p><%= movie.overview %></p>
  <p><% movie.bookmarks.each do |bookmark| %></p>
    <p><%= bookmark.comment %></p>
      <% end %>
  <% end %>
  <%= link_to "Delete", bookmark_path(@bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}  %>
<br>

  <%= link_to "Add a new bookmark", new_list_bookmark_path(@list) %>
 <%= link_to "Back to Lists", lists_path(@lists), class: "btn btn-primary"%>
