<h2><%= @list.name %></h2>
<br>
<% @list.movies.each do |movie| %>
  <%=image_tag(movie.poster_url, height: "400px", loading: "lazy") %>
  <p><%= movie.title %></p>
  <p><%= movie.rating %></p>
  <p><%= movie.overview %></p>
  <% movie.bookmarks.each do |bookmark| %>
    <p><%= bookmark.comment %></p>
    <%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}  %>
  <% end %>
<% end %>

<br>

  <%= link_to "Add a new bookmark", new_list_bookmark_path(@list) %>
 <%= link_to "Back to Lists", lists_path(@lists), class: "btn btn-primary"%>
